<h1> All Graphics Cards </h1>


  <% @graphics_cards.each do |graphics_card| %>
    <ul><%= link_to graphics_card.brand, graphics_card %> <%= link_to graphics_card.model, graphics_card %> </ul><br>
  <% end %>