// Place all the styles related to the GraphicsCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.event-header {
    text-align: center;
    color: #ffffff;
    font-size: 80px;
    text-transform: uppercase;
   
}

.event-header2 {
    text-align: center;

}

.container3 {

    font-family: Optima, sans-serif;
    color: rgb(191, 188, 188);
    font-size: 35px;
    background: url(https://www.nvidia.com/content/dam/en-zz/Solutions/titan/titan-rtx/nvidia-titan-rtx-nvlink-630-u@2x.jpg) #00000078;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
} 