// Place all the styles related to the GraphicsCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.event-header {
    text-align: center;
    color: #ffffff;
    font-size: 110px;
    text-transform: uppercase;
   
}

.event-header2 {
    text-align: center;

}

.container3 {

    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: rgb(191, 188, 188);
    font-size: 35px;
    background: url(https://c4.wallpaperflare.com/wallpaper/885/625/125/computer-gigabyte-msi-gpus-wallpaper-preview.jpg) #00000078;
    background-position: top;
} 