// Place all the styles related to the Pcs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.event-header {
    text-align: center;
    color: #ffffff;
    font-size: 110px;
    text-transform: uppercase;
   
}

.event-header3 {

    text-align: center;
}

.container {

    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: rgb(140, 140, 140);
    font-size: 35px;
    background: url(https://images.idgesg.net/images/article/2019/07/dsc04685_final-100802535-large.jpg) #00000078;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
}  



.center{
    position: absolute;
    margin: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

a:link {
    color: rgb(255, 255, 255);
  }

a:visited {
    color: rgb(136, 136, 136);
  }

